name: Node.js Package

on:
  workflow_dispatch:
  push:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - run: sed -i 's/"file:.*"/"latest"/' package.json
      - name: install dependencies
        run: npm i
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
        env:
          ti2_rezdy_endpoint: 'https://api.rezdy.com/v1'
          ti2_rezdy_apiKey: ${{ secrets.REZDY_APIKEY }}
          ti2_rezdy_resellerId: ${{ secrets.REZDY_RESELLER_ID }}
          ti2_rezdy_jwtKey: ${{ secrets.REZDY_JWTKEY }}
          ti2_rezdy_environment: 'production'
  tag:
    if: github.ref == 'refs/heads/main'
    needs: build_and_test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: tool3/bump@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          unrelated: true
          branch: main
  publish-npm:
    if: github.ref == 'refs/heads/main'
    needs: tag
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - run: sed -i 's/"file:.*"/"latest"/' package.json
      - name: install dependencies
        run: npm i
      - uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
